/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV BAR */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a4c73;
    padding: 10px;
}

.logo {
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
}

.hero-box img {
border-radius: 8px;
width: 200px;
height: auto;
}

.hero h1 {
margin-bottom: 20px;
}

.hero-box{
  
  padding: 20px;
  max-width: 800px;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: left;
}

.hero-text{
  flex: 1;
  text-align: left;
}

.cta-button {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff6600;
    padding: 10px 20px;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #ff4500;
}

/* SECTIONS */
section {
    width: 840px;
    margin: 20px auto;
    padding: 20px;
}

/* HISTORY */
.history {
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
}

.history h2 {
margin-bottom: 20px;
}

.history-box{
  padding: 20px;
  max-width: 800px;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: left;
}

.history-text1, .history-text2{
  flex: 1;
  text-align: left;
}

.history-box img{
  width: 200px;
  height: auto;
  display: block;
  flex-shrink: 0;
}

/* ADVENTURE */
.adventure {
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
}

.adventure h2 {
margin-bottom: 20px;
}

.adv-box{
  padding: 20px;
  max-width: 800px;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: left;
}

.adv-text{
  flex: 1;
  text-align: left;
}

.img-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #eee;
}

.footer-box{
  float: right;
}

/* contact SECTION */
.contact {
    text-align: center;
    padding: 20px;
}

.contact-box img {
width: 200px;
height: auto;
}

.contact-box{
  padding: 20px;
  max-width: 800px;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: left;
}

.contact-text{
  flex: 1;
  text-align: left;
}

.con-button {
    position: absolute;
    top: 58%;
    left: 60%;
    transform: translateX(-50%);
    background-color: #f3e0d9;
    padding: 2px 100px;
    color: #000000;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
}

.con-button:hover {
    background-color: #f3e0d9;
}

/* employees */
.employees {
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
}

.employees h2 {
margin-bottom: 20px;
}

.employees-box{
  padding: 20px;
  max-width: 800px;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: left;
}

.employees-text{
  flex: 1;
  text-align: left;
}

.img-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}